todo
xdp/**/bin/
tracepoint/**/bin/
tc/**/bin/
tc-experiments/**/bin/
program_test/**/bin/
study
tracepoint/*/test/*
xdp/*/test/*
tc/*/*.o
tc-experiments/*/*.o
test_variables/bin/

# exceptions to the rules
# The "test" folder contains both source code files that should be committed and a binary that should not be committed.
!tracepoint/*/test/*.*
!xdp/*/test/*.*
.vscode